{% if( ( not support_st and default_language != 'en' and ( dismiss_non_default is empty ) ) or ( xml_config_errors is not empty  ) or ( miss_slug_lang is not empty ) ) %}
    <div class="wcml-section">
        <div class="wcml-section-header">
            <h3>
                {{ strings.conf }}
                <i class="otgs-ico-help wcml-tip" data-tip="{{ strings.report }}"></i>
            </h3>
        </div>
        <div class="wcml-section-content">
            <ul class="wcml-status-list">
                {% if miss_slug_lang is not empty %}
                    <li>
                        <i class="otgs-ico-warning"></i>
                        {{ strings.base_not_trnsl }}
                        <ul class="wcml-lang-list">
                            {% for miss_lang in miss_slug_lang %}
                                <li>
                                    <span class="wpml-title-flag">
                                        <img src="{{ get_flag_url( miss_lang.code ) }}" alt="{{ miss_lang.english_name|e }}" />
                                    </span>
                                    {{ miss_lang.display_name|capitalize }}
                                </li>
                            {% endfor %}
                        </ul>
                        {{ strings.url_not_work }}
                        <a class="button-secondary" href="{{ slugs_tab }}">
                            {{ strings.trsl_urls }}
                        </a>
                    </li>
                {% endif %}

                {% if( not support_st and default_language != 'en' ) %}
                    {% if st_lang != 'en' %}
                        <li>
                            <i class="otgs-ico-warning"></i>
                            {{ strings.def_and_st_not_en }}
                            <small>
                                <i class="otgs-ico-help"></i>
                                <a href="{{ not_en_doc_page }}">
                                    {{ strings.run_not_en }}
                                </a>
                            </small>
                            <p>
                                {{ strings.url_problems }}
                                <input type="hidden" id="wcml_fix_strings_language_nonce" value="{{ nonces.fix_strings }}" />
                                <button id="wcml_fix_strings_language" type="button" class="button-secondary">
                                    {{ strings.change_def_lang|e }}
                                </button>
                            </p>
                        </li>
                    {% elseif( dismiss_non_default is empty ) %}
                        <li>
                            <i class="otgs-ico-warning"></i>
                            {{ strings.def_not_en }}
                            <small>
                                <i class="otgs-ico-help"></i>
                                <a href="{{ not_en_doc_page }}">
                                    {{ strings.run_not_en }}
                                </a>
                            </small>
                            <p>
                                {{ strings.attent_sett }}
                            </p>
                        </li>
                    {% endif %}
                {% endif %}
                {% if xml_config_errors is not empty %}
                    <li>
                        <i class="otgs-ico-warning"></i>
                        <strong>{{ strings.over_sett }}</strong>
                        <p>
                            {{ strings.check_conf|raw|format( strings.cont_set )|raw }}
                        </p>
                        <ul>
                            {% for error in xml_config_errors %}
                                <li>{{ error|raw }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}