<div class="notice notice-info">
    <p>{{ first_line }}<br>{{ second_line | raw }}</p>
    <p>
        <a id="translations_control" class="translations_control button-secondary" href="{{ button_url | raw }}">
            {{ button_text }}
        </a>
    </p>
    <p><small>{{ ps_message }}</small></p>
</div>