{% if attributes is empty %}

    <p>{{ strings.no_attributes }}</p>

{% else %}

	<h2 class="wpml_taxonomy_loading"><span class="spinner"></span> {{ strings.loading }}</h2>
	<div class="wpml_taxonomy_loaded" style="display:none">
		<label>{{ strings.select_label }}</label>
		<select id="wcml_product_attributes">
		{% for attribute in attributes %}
			<option value="pa_{{ attribute.attribute_name }}" {% if attribute.attribute_name == selected_attribute.attribute_name  %}selected="selected"{% endif %}>{{ attribute.attribute_label }}</option>
		{% endfor %}
		</select>
	
		{{ translation_ui|raw }}
	</div>

{% endif %}