

<h1>{{ strings.heading|raw }}</h1>

<p>{{ strings.description1 }}</p>
<div>{{ strings.description2.title|raw }}</div>
<ul>
    <li>{{ strings.description2.step1|raw }}</li>
    <li>{{ strings.description2.step2 }}</li>
    <li>{{ strings.description2.step3 }}</li>
</ul>
<p>{{ strings.description3|raw }}</p>

<p class="wcml-setup-actions step">
    <a href="{{ later_url }}">{{ strings.later|raw }}</a>
    <a href="{{ continue_url }}" class="button button-primary button-large">{{ strings.continue|raw }}</a>
</p>

